footer {
    height: 300px;
    width: 95%;
    margin: 0 auto;
}
footer  figure {
    width: 40%;
}
i {
    color: rgba(0,0,0,.5);
}

ul {
    list-style: none;
}
.lista-des > li > a {
    color: rgba(0,0,0,.5);
}